body {
    margin: 0px;
    height: 900px;
}

.main-body {
    background-color: #f4f4f4;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: 'vegur';
    color: #323232;
    font-size: 48px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    line-height: 1;
}

p {
    font-family: 'vegur';
    font-weight: 400;
    color: #B4BAC2;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

.div1 {
    width: 100%;
    border-bottom: 2px solid #323232;
}

.button {
  height: 44px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #cbd0d5;
  margin: auto;
  transition: all 0.5s ease;
    
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.button p {
    color: #B4BAC2;
    padding: 7px;
    text-align: center;
    font-weight: 100;
   
}



.footer {
    width: 100%;
    height: 150px;
    border-top: 1px solid #dbdbdb;
    background-color: #f4f4f4;
    position: relative;
}

.icons {
    width: 320px;
    margin: 20px auto;
}

.fa {
    font-size: 24px !important;
    color: #cbd0d5;
    padding: 20px;
}
.project-container {
max-width: 500px;
    width: 100%;
margin: auto;
}
#hover {
    transition: all 0.5s ease;
}
#hover:hover {
    cursor: pointer;
    opacity: 0.8;
}


.project1 {
    background-image: url(img/roboto.PNG);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.project2 {
    background-image: url(img/weather.PNG);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

a, a:link, a:active, a:hover, a:focus {
    text-decoration: none;
}